<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Login</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UIStatusBarTintParameters</key>
	<dict>
		<key>UINavigationBar</key>
		<dict>
			<key>Style</key>
			<string>UIBarStyleDefault</string>
			<key>Translucent</key>
			<false/>
		</dict>
	</dict>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>OpenSans-SemiBold.tff</string>
		<string>OpenSans-Light.tff</string>
		<string>OpenSans-ExtraBold.tff</string>
		<string>OpenSans-LightItalic.tff</string>
		<string>OpenSans-Bold.tff</string>
		<string>OpenSans-SemiBoldItalic.tff</string>
		<string>OpenSans-RegularItalic.tff</string>
		<string>OpenSans-ExtraBoldItalic.tff</string>
		<string>OpenSans-Regular.tff</string>
		<string>OpenSans-BoldItalic.tff</string>
		<string>Raleway-BoldItalic.tff</string>
		<string>Raleway-MediumItalic.tff</string>
		<string>Raleway-ThinItalic.tff</string>
		<string>Raleway-ExtraLight.tff</string>
		<string>Raleway-Medium.tff</string>
		<string>Raleway-SemiBold.tff</string>
		<string>Raleway-ExtraBold.tff</string>
		<string>Raleway-ExtraBoldItalic.tff</string>
		<string>Raleway-Regular.tff</string>
		<string>Raleway-ExtraLightItalic.tff</string>
		<string>Raleway-SemiBoldItalic.tff</string>
		<string>Raleway-Light.tff</string>
		<string>Raleway-Black.tff</string>
		<string>Raleway-BlackItalic.tff</string>
		<string>Raleway-RegularItalic.tff</string>
		<string>Raleway-LightItalic.tff</string>
		<string>Raleway-Thin.tff</string>
		<string>Raleway-Bold.tff</string>
	</array>
</dict>
</plist>
